<div class="flex flex-col gap-4">
  <mat-card appearance="outlined" class="card">
    <mat-card-content class="card__content">
      <div class="card__titleContent">
        <mat-card-subtitle class="card__titleCal">2500-KCAL</mat-card-subtitle>
        <button mat-stroked-button class="card__buttonIncidencias">
          <p>Ver detalles</p>
        </button>
      </div>
      <div class="card__checkboxContent">
        <div class="card__checkbox">
          <p>Quinua</p>
          <p>600kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Pollo a la plancha</p>
          <p>400kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Brócoli al vapor</p>
          <p>100kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Ensalada de espinacas</p>
          <p>150kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Aceite de oliva</p>
          <p>100kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Agua de coco</p>
          <p>50kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Frutas frescas variadas</p>
          <p>400kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Frutos secos (almendras)</p>
          <p>300kcal</p>
        </div>
      </div>
      <div class="card__date">
        <p>Sabado 07/06/2024</p>
      </div>
    </mat-card-content>
  </mat-card>

  <mat-card appearance="outlined" class="card">
    <mat-card-content class="card__content">
      <div class="card__titleContent">
        <mat-card-subtitle class="card__titleCal">2500-KCAL</mat-card-subtitle>
        <button mat-stroked-button class="card__buttonIncidencias">
          <p>Ver detalles</p>
        </button>
      </div>
      <div class="card__checkboxContent">
        <div class="card__checkbox">
          <p>Pollo asado</p>
          <p>700kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Arroz integral</p>
          <p>300kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Brócoli</p>
          <p>100kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Ensalada verde</p>
          <p>150kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Aceite de oliva</p>
          <p>150kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Agua</p>
          <p>0kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Fruta fresca</p>
          <p>300kcal</p>
        </div>
        <div class="card__checkbox">
          <p>Frutos secos</p>
          <p>800kcal</p>
        </div>
      </div>
      <div class="card__date">
        <p>Domingo 07/07/2024</p>
      </div>
    </mat-card-content>
  </mat-card>

</div>
