<mat-card appearance="outlined" class="card">
    <mat-card-content class="card__content">
        <div class="card__titleContent">
            <mat-card-subtitle class="card__titleCal">0-KCAL</mat-card-subtitle>
            <button mat-stroked-button class="card__buttonIncidencias">
                <p>Incidencias</p>
            </button>
        </div>
        <div class="card__checkboxContent">
            <div class="card__checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
                <p>Coca-cola</p>
                <p>000kc</p>
            </div>
            <div class="card__checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
                <p>Sabritas</p>
                <p>000kc</p>
            </div>
            <div class="card__checkbox">
                <mat-checkbox class="example-margin"></mat-checkbox>
                <p>Agua</p>
                <p>000kc</p>
            </div>
        </div>
        <div class="card__date">
            <p>Sábado 06/07/2024</p>
        </div>
    </mat-card-content>
</mat-card>